*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* Site header */

.title_bar{
    background-color: white;
    color: #29B1DD;
    padding: 10px
}

.filter_bar {
    background-color:#29B1DD;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    text-transform: uppercase;
}

/* Site main */

#cards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #DDDDDD;
}

#site_main .card{
    background-color: white;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
    flex-direction: column;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 3px 3px rgba(94, 94, 94, 0.311);
}

.card i{
    font-size: 1.8rem;
    padding-bottom: 10px;
}

